
.ant-divider-plain.ant-divider-with-text {
    font-weight: 400;
    font-size: 16px;
    color: #4D7393;
}

div.questionFormContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

div.finishContainer{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 60px;
    color: #4D7393;
    font-size: 16px;
}