#root, .app-container {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Dashboard_sider {
  position: relative;
  min-width: 0;
  background: white;
  transition: all 0.2s;
  flex: 0 0 18% !important;
  max-width: 400px !important;
  min-width: 280px !important;
  width: 18% !important;
}

li.ant-menu-item.ant-menu-item-only-child{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 50px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color:#00695E;
  border-radius: 20px;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0;
  border-radius: 20px;
}

/*
  Change border radius for unselected menu item so deselected item doesn't have a square border the border disappears
*/
li.ant-menu-item {
  border-radius: 20px;
}

/*  
  hover effect for dashboard navbar items
*/
.ant-menu-light .ant-menu-item:hover {
  color: black;
}

.ant-menu-item-selected {
  color: white;
}

.ant-upload.ant-upload-drag {
  width: 300px;
  height:300px;
  border:0;
  background: fixed;
}